// material design color
// http://www.google.com/design/spec/style/color.html#color-color-palette
$red50: #FFEBEE;
$red100: #FFCDD2;
$red200: #EF9A9A;
$red300: #E57373;
$red400: #EF5350;
$red500: #F44336;
$red600: #E53935;
$red700: #D32F2F;
$red800: #C62828;
$red900: #B71C1C;
$redA100: #FF8A80;
$redA200: #FF5252;
$redA300: #FF1744;
$redA700: #D50000;

$base-color: $red500;
